body {
    margin: 0;
    font-family: Calibri;
}

a {
    color: #808080;
    text-decoration: none;
    font-size: 1.2em;
}

a:hover {
    color: #A0A0A0;
}

.seperator {
    border-top: 2vh solid #D0D0D0;
    display: block;
    margin: 0 0 2vh;
}

.title {
    display: block;
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
}

#container {
    height: 100%;
    width: 50%;
    position: absolute;
    margin: 0 25% 0 25%;
    background: #E0E0E0;
    text-align: center;
}

#header h1{
    margin: 2vh 0;
    font-size: 2em;
}

#info .title, #info a, #info p, #gameList .title {
    margin: 0 0 2vh;
}

#createdBy {
    width: 100%;
    position: absolute;
    top: 97%;
    margin: 0;
    font-size: 1em;
}

@media only screen and (max-width: 768px) {
    #container {
        margin: 0;
        width: 100%;
    }
    #createdBy {
        top: 96%;
    }
}
